.contPrin{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contPrin hr{
    width: 80%;
    background-color: var(--Secondary);
}

.contProfile {
    position: relative;
    background: var(--Secondary);
    width: 70%;
    height: 320px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) { 
    .contProfile{
        position: relative;
        background: var(--Secondary);
        width: 100%;
        height: 320px;
        display: flex;
        justify-content: center;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}
    /* @media (max-width: 420px) { 
      .card{
       width: 50vw;
       height: max-content;
      }
    } */

.imgProfile{
    position: absolute;
    background: gray;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top:5px;
    overflow: hidden;
}

.imgProfile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contInfo {
    margin-top: 10px;
    font-size: large;
    font-weight: 600;
    text-align: center;
    color: white;
}
.whats{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    display:inline;
  }
  .link{
    text-decoration: none;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Primary);
    width: 280px;
    height: 180px;
    margin:30px;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: var(--RadiusOne);
    box-shadow: var(--ShadowOne) ;
    position: relative;
  }
  @media (max-width: 768px) { 
  .card{
   height: max-content;
  }
  }
  @media (max-width: 420px) { 
    .card{
     width: 50vw;
     height: max-content;
    }
  }
  .imgCard {
    width: 130PX;
  height: 100px;
  margin-left: 35px;
  align-items: center;
  filter: brightness(60%);
  
  }  
  .titleCard {
    color: var(--White);
    z-index: 10;
    font-size: var(--TitleCard);
    font-size: 20px;
    }
    @media (max-width: 420px) { 
        .titleCard{
        font-size: 1.2rem;
        }
      }
    
    .infoCard {
        color: var(--White);
        z-index: 10;
        margin-bottom: 0px;
    }
    @media (max-width: 420px) {
        .infoCard{
        font-size: 1rem;
        }
      }

      .cards{
        display: flex;
        z-index: 300;
      }